<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stinger_base">
    <xacro:include filename="$(find stinger_description)/models/stinger_base/components/sensors.xacro"/>
    <xacro:include filename="$(find stinger_description)/models/stinger_base/components/thrusters.xacro"/>

    <xacro:macro name="stinger_base">

    <link name="hull_link">
      <inertial>
        <pose>0.0 0.0 -0.13 0 0 0</pose>
        <mass value="5"/>
        <inertia ixx="2.42369" ixy="0" ixz="0" iyy="3.9235025" iyz="0" izz="5.6403125"/>
      </inertial>
      <visual name="hull_visual">
        <origin rpy="0 0 3.1416"/>
        <geometry>
          <mesh filename="file://$(find stinger_description)/models/stinger_base/meshes/stinger_hull.dae"/>
        </geometry>
      </visual>
    </link>

    <!-- port hull -->
    <link name="hull_port_link">
      <collision>
          <origin xyz="0 0.0765 -0.05" rpy="0 0 0"/>
          <geometry>
                <box size="0.381 0.081 0.135" />
          </geometry>
      </collision>
    </link>
    <joint name="hull_port_joint" type="fixed">
      <origin xyz="0 0 0"/>
      <parent link="hull_link"/>
      <child link="hull_port_link"/>
    </joint>

    <!-- starboard hull -->
    <link name="hull_stbd_link">
      <collision>
          <origin xyz="0 -0.0765 -0.05" rpy="0 0 0"/>
          <geometry>
                <box size="0.381 0.081 0.135" />
          </geometry>
      </collision>
    </link>
    <joint name="hull_stbd_joint" type="fixed">
      <origin xyz="0 0 0"/>
      <parent link="hull_link"/>
      <child link="hull_stbd_link"/>
    </joint>

    <!-- Thrusters -->
    <xacro:prop_macro thruster_id="port">
      <origin xyz="-0.19 0.073 -0.041" rpy="0 0 0" />
    </xacro:prop_macro>
    <xacro:prop_macro thruster_id="stbd">
      <origin xyz="-0.19 -0.073 -0.041 " rpy="0 0 0" />
    </xacro:prop_macro>

    <!-- Offset weight from propellers to maintain buoyancy -->
    <!-- TODO: Find a better way to do this -->
    <link name="box_offset_1">
      <inertial>
        <mass value="0.1" />
        <origin xyz="0.19 0.073 -0.041" />
        <inertia ixx="0.1" ixy="0.0" ixz="0.0"
                iyy="0.1" iyz="0.0"
                izz="0.1" />
      </inertial>
    </link>
    <joint name="offset_joint_1" type="fixed">
      <origin xyz="0 0 0"/>
      <parent link="hull_link"/>
      <child link="box_offset_1"/>
    </joint>

    <link name="box_offset_2">
      <inertial>
        <mass value="0.1" />
        <origin xyz="0.19 -0.073 -0.041" />
        <inertia ixx="0.1" ixy="0.0" ixz="0.0"
                iyy="0.1" iyz="0.0"
                izz="0.1" />
      </inertial>
    </link>
    <joint name="offset_joint_2" type="fixed">
      <origin xyz="0 0 0"/>
      <parent link="hull_link"/>
      <child link="box_offset_2"/>
    </joint>

    <!-- Sensors -->
    <xacro:camera_macro camera_id="0">
      <origin xyz="0.16 0 0.012" rpy="0 0 0" />
    </xacro:camera_macro>

    <xacro:lidar_macro>
      <origin xyz="0.1 0 0.1" rpy="0 0 0" />
    </xacro:lidar_macro>

    <xacro:imu_macro>
      <origin xyz="-0.05 0 0.025" rpy="3.14 0 0" />
    </xacro:imu_macro>

    <xacro:gps_macro>
      <origin xyz="-0.05 0 0.025" rpy="0 0 0" />
    </xacro:gps_macro>

    <!-- hydrodynamics and control plugins -->
    <gazebo>
      <plugin
        filename="gz-sim-hydrodynamics-system"
        name="gz::sim::systems::Hydrodynamics">
        <link_name> base_link </link_name>
        <zW>-5.0</zW>
        <zWabsW>-10.0</zWabsW>
        <mQ>-50.0</mQ>
        <mQabsQ>-100.0</mQabsQ>
        
        <!-- Linear Drag -->
        <xU>-5</xU> <!-- Surge -->
        <yV>-5</yV> <!-- Sway -->
        <zW>-5</zW> <!-- Heave -->
        <kP>-10</kP> <!-- Roll-->
        <mQ>-5</mQ> <!-- Pitch -->
        <nR>-5</nR> <!-- Yaw-->

        <xUabsU>-10</xUabsU>
        <yVabsV>-60</yVabsV>
        <zWabsW>-60</zWabsW>
        <kPabsP>-10</kPabsP>
        <mQabsQ>-60</mQabsQ>
        <nRabsR>-50</nRabsR>
      </plugin>
    </gazebo>


    </xacro:macro>
</robot>